body{ 
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
    box-sizing: border-box;
    align-items: flex;
}
.blok{
    height: 300px;
    width: 1870px;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.blok > .bloczek{
    height: 200px;
    width: 500px;
    background-color: black;
}
.blok > .bloczek2{
    display: flex;
    border: 5px solid rgb(247, 243, 243);
    height: 250px;
    width: 50%;
    background-color: rgb(12, 12, 12);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


